.empty-state {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.empty-icon {
  font-size: 5rem;
  color: var(--primary-color);
}

p {
  color: var(--text-color-secondary);
}
